<main class="main">
  <div class="task-form">
    <form method="POST" action="/">
      <input class="input" type="text" name="task" placeholder="I need to..." />
      <button class="task-form__button button" type="submit">Create</button>
    </form>

    <% if(locals.error){%>
    <div class="alert alert--error">Invalid task!</div>
    <%} %> <% if(locals.successMessage){%>
    <div class="alert alert--success">Task was added!</div> 
    <%} %>
  </div>

  <h2>Todo List</h2>
  <% const unfinishedTasks = tasks.filter(task => !task.done); %>

  <% if (unfinishedTasks.length === 0) { %>
    <h3 class="no-tasks">There are no tasks.</h3>
  <% } else { %>
    <ul class="list">
      <% tasks.forEach(task => { %>
        <% if (!task.done) { %> <li class="list__item">
            <label>
              <input type="checkbox" class="checkbox<%= task.done ? ' checkbox--checked' : '' %>">
              <span class="list__item-text"><%= task.taskName %></span>
            </label>
          </li>
        <% } %>
      <% }); %>
    </ul>
  <% } %>

</main>
